<header
  class="flex justify-between dark:bg-gray-900 dark:border-none border-2 text-black bg-white dark:text-white h-24 rounded-md items-center p-4 ml-1"
>
  <div>
    <a class="flex gap-2 items-center" href="">
      <i class="bi bi-mortarboard bg-blue-600 p-2 text-3xl rounded-3xl text-white"></i>
      <h1 class="text-2xl">Polvon</h1>
    </a>
  </div>

  <div>
    <ul class="flex gap-4">
      <button (click)="toggle()">
        <i class="bi bi-layout-sidebar"></i>
      </button>
      <button (click)="toggleTheme()">
        @if(theme==='dark'){ <i class="bi bi-brightness-high"></i>}@else {
        <i class="bi bi-moon"></i>
        }
      </button>
      <button>
        <a routerLink="/contactUs">
          <i class="bi bi-file-person"></i>
        </a>
      </button>
    </ul>
  </div>
</header>
